venv
venv/
env
env/
__pycache__
__pycache__/
attachment_data.json
Output/

testing.py

email_info.json

build/

dist/

*.spec

.DS_Store

.vscode/

data/  

__pycache__/

testing.py

email_info.json

user_info.json